@font-face {
  font-family: 'Poppins-Light';
  src: url('/fonts/poppins_light.ttf');
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-Var';
  src: url('/fonts/OpenSans-Variable.ttf');
}

@font-face {
  font-family: 'Google-Sans-Regular';
  src: url('/fonts/google_sans_regular.ttf');
}

@font-face {
  font-family: 'Google-Product-Sans-Light';
  src: url('/fonts/google_product_sans_light.ttf');
}